@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand|Bungee');

body {
  color: #fff;
  text-align: center;
  background-color: #4E4E4E;
  min-height: 1000px;
  background-size: cover;
}

h1 {
    font-family: 'Bungee', sans-serif;
    font-size: 36pt;
}

h2 {
    font-family: 'Bungee', sans-serif;
    font-size: 30pt;
}

.top-form {
    width: 100%;
    min-height: 400px;
    background-image: linear-gradient(120deg, #155799, #159957);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.candidate-row {
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.head {
  width: 200px;
  height: 200px;
}

.candidate-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  min-width: 300px;
  padding: 5px 10px 0px 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

span.polling-number {
  font-weight: bold;
  font-size: 50pt;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 2px 2px lightblue;
}

span.contribution {
  font-weight: bold;
}

span.True {
  font-size: 16pt;
  color: green;
}
span.Mostly.True {
  font-size: 16pt;
  color: lightgreen;
}
span.Half-True {
  font-size: 16pt;
  color: yellow;
}
span.Mostly.False {
  font-size: 16pt;
  color: orange;
}
span.False {
  font-size: 16pt;
  color: red;
}
span.Pants {
  font-size: 16pt;
  color: red;
}

.statement {
  font-family: 'Cabin', sans-serif;
  font-size: 16pt;
}

span.headingInBox {
  font-family: 'Bungee', cursive;
  font-size: 18pt;
  color: white;
}

span.headingOutside {
  font-family: 'Bungee', cursive;
  font-size: 20pt;
  color: white;
}

#donald-trump-div {
  border-color: rgba(216, 23, 30, 0.75);
  background-color: rgba(216, 23, 30, 0.5);
}

#hillary-clinton-div {
  border-color: rgba(15, 36, 70, 0.75);
  background-color: rgba(15, 36, 70, 0.5);
}

#gary-johnson-div {
  border-color: rgba(249, 211, 52, 0.75);
  background-color: rgba(249, 211, 52, 0.5);
}
.candidate-col {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 870px) {
  .candidate-row {
    flex-direction: column;
    align-items: center;
  }

  .candidate-data {
    width: 80vw;
    min-width: 200px;
  }
}
